@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=La+Belle+Aurore&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(10, 10, 12, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-h-header.is-open .w-h-header-background {
  left: 0;
}
.w-h-header-button-wrapper {
  margin-left: auto;
}
.w-h-header-icon {
  display: none;
}

.w-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-h-navigation-list.is-open {
  right: 0;
}
.w-h-header-icon-menu {
  display: block;
}

.w-h-header-icon-button.is-open .w-h-header-icon-menu {
  display: none;
}

.w-h-header-icon-button.is-open .w-h-header-icon-close {
  display: block;
}

.w-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(10, 10, 12, 1);
}

.w-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(10, 10, 12, 1);
}
.w-h-header.is-open .w-h-header-background {
  left: 0;
}
.w-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-h-header-icon-menu {
  display: block;
}

.w-h-header-icon-button.is-open .w-h-header-icon-menu {
  display: none;
}

.w-h-header-icon-button.is-open .w-h-header-icon-close {
  display: block;
}

.w-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 18px;
  position: relative;
}
.w-h-policy-terms-header-icon-menu {
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(240, 239, 239, 1);
  text-decoration: none;
}
.w-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 740px;
  transition: 0.3s;
  z-index: 999;
  padding: 28px 76px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(41, 41, 42, 1);
}

.w-h-navigation-list.is-open {
  right: 0;
}

.w-h-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-h-navigation-link:hover,
.w-h-navigatioт-link:focus {
  color: rgba(62, 186, 122, 1);
}

.w-h-header.is-open {
  background-color: transparent;
}

.w-h-navigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .w-h-navigation-img {
    display: flex;
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 239, 239, 1);
    text-decoration: none;
    padding-right: 40px;
  }
  .w-h-header-button-wrapper {
    display: none;
  }
  .w-h-policy-terms-header-icon-menu {
    display: none;
  }

  .w-h-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-h-header-background {
  }
  .w-h-header-icon-button {
    display: none;
  }
  .w-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 28px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    justify-content: center;
  }

  .w-h-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .w-h-navigation-item-desk {
    display: none;
  }
}
.w-h-home {
  width: 375px;
  height: 823px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 1707481778.png");
  margin: auto;
}
.w-h-home-container {
  width: 375px;
  padding: 327px 20px 0px;
  margin: auto;
}

.w-h-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-h-home-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.w-h-home-text {
  font-family: La Belle Aurore;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0%;

  padding: 40px 0 60px;
}
.class-home-link {
  border: 2px solid rgba(62, 186, 122, 1);
  width: 335px;
  border-radius: 30px;
  border-width: 2px;
  padding: 14px 0;
  font-family: Inter;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
}
.class-home-link:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1207px) {
  .w-h-home {
    width: 1440px;
    height: 945px;
    background-image: url("/img/Frame\ 1707481777.png");
  }
  .w-h-home-container {
    width: 1440px;
    padding: 591px 88px 0px;
  }
  .w-h-home-container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 92px;
  }

  .w-h-home-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 659px;
    text-transform: uppercase;
  }

  .w-h-home-text {
    font-family: La Belle Aurore;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    padding: 0px 0 60px;
  }
  .class-home-link {
    border: 2px solid rgba(62, 186, 122, 1);
    width: 395px;
    border-radius: 30px;
    border-width: 2px;
    display: block;
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
  }
}

.w-h-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}
.w-h-why-list {
  padding: 40px 0;
}
.w-h-why-item {
  margin: 0 12px;
}
.w-h-why-img {
  width: 335px;
  height: 524px;
  border-radius: 10px;

  object-fit: cover;
  object-position: center;
}

.w-h-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
}
.w-h-gallery-button-container-two {
  display: none;
}
.w-h-gallery-button-icon {
  width: 50px;
  height: 50px;
}
.w-h-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.w-h-why-lists {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  gap: 32px;
}
.w-h-why-items {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.w-h-why-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  padding-bottom: 20px;
}
.w-h-why-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(62, 186, 122, 1);
}
@media screen and (min-width: 1207px) {
  .w-h-why-container {
    width: 1440px;
    padding: 80px 88px;
  }

  .w-h-why-list {
    padding: 60px 0 0;
  }
  .w-h-why-item {
    margin: 0 24px;
  }
  .w-h-why-img {
    width: 612px;
    height: 764px;
    border-radius: 10px;
  }
  .w-h-why-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .w-h-gallery-button-container {
    display: none;
  }
  .w-h-gallery-button-container-two {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
  }
  .w-h-gallery-button-icon {
    width: 50px;
    height: 50px;
  }
  .w-h-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .w-h-why-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 48px;
    gap: 28px;
    column-gap: 63px;
  }
  .w-h-why-items {
    width: 590px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .w-h-why-itemss {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .w-h-why-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding-bottom: 20px;
  }
  .w-h-why-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1.2%;
  }
}

.w-h-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 63px 20px;
}
.w-h-uniqueness-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 28px 0 20px;
}
.w-h-uniqueness-text-bold-q {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-bottom: 10px;
}
.w-h-uniqueness-item {
  background: rgba(245, 245, 245, 1);
  width: 315.6395485745266px;
  height: 286.4445339789637px;
  transform: rotate(-4.9deg);
  border-radius: 10px;
  padding: 14px 20px;
}
.w-h-uniqueness-item-img {
  width: 46.28145807318331px;
  height: 46.50027737821651px;
  margin-left: auto;
}
.w-h-uniqueness-item-q {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  padding-top: 96px;
  padding-right: 54px;
}
.w-h-uniqueness-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.w-h-uniqueness-item-p {
  background: rgba(33, 60, 59, 1);
  width: 335px;
  height: 310px;
  gap: 10px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  border-radius: 10px;
}
.w-h-uniqueness-item-pp {
  background: rgba(64, 118, 90, 1);
}
.w-h-uniqueness-item-w {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 96px;
}
.w-h-uniqueness-item-w span {
  font-weight: 700;
}
@media screen and (min-width: 1207px) {
  .w-h-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 88px;
  }
  .w-h-uniqueness-div {
    display: flex;
    gap: 52px;
  }

  .w-h-uniqueness-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 503px;
    padding: 28px 0 20px;
  }

  .w-h-uniqueness-item {
    width: 339.1947542531872px;
    height: 307.82099765990864px;

    border-radius: 10px;
    padding: 24px 20px;
    margin-left: auto;
  }
  .w-h-uniqueness-item-img {
    width: 49.73529657676078px;
    height: 49.97044607922773px;
  }
  .w-h-uniqueness-item-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    padding-top: 96px;
    padding-right: 54px;
  }
  .w-h-uniqueness-list {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
  }
  .w-h-uniqueness-item-p {
    width: 340px;
    height: 310px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    gap: 10px;
    border-radius: 10px;
  }

  .w-h-uniqueness-item-w {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: 96px;
  }
  .w-h-uniqueness-item-w span {
    font-weight: 700;
  }
}
.w-h-about {
  margin: auto;
  width: 375px;
  height: 779px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/page/Frame\ 1707481779.png");
}
.w-h-about-container {
  width: 375px;
  padding: 327px 20px 0px;
  margin: auto;
}
.w-h-about-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.w-h-about-title-p {
  padding: 0 60px;
}
.w-h-about-title-two {
  text-align: left;
}
.w-h-about-title-i {
  padding: 0 20px;
}
.w-h-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-top: 40px;
}
.w-h-about-title-page {
  font-family: Inter;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@media screen and (min-width: 1207px) {
  .w-h-about {
    width: 1440px;
    height: 879px;
    background-image: url("/img/page/Frame\ 1707481780.png");
  }
  .w-h-about-container {
    width: 1440px;
    padding: 611px 88px 0;
  }
  .w-h-about-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: middle;
  }
  .w-h-about-title-pq {
    text-align: center;
  }
  .w-h-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding-top: 32px;
  }
  .w-h-about-title-page {
    font-family: Inter;
    font-weight: 400;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
.w-h-about-one {
  margin: auto;
  width: 375px;
  height: 968px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/page/Nasza\ misja.png");
}
.w-h-about-container-one {
  width: 375px;
  padding: 64px 20px 0px;
  margin: auto;
}

.w-h-about-text-one {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  padding: 40px 0;
}
.w-h-about-list-one {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  gap: 20px;
  display: flex;
  flex-direction: column;
}
.w-h-about-list-one-item {
  display: flex;
  gap: 32px;
  align-items: center;
}
@media screen and (min-width: 1207px) {
  .w-h-about-one {
    width: 1440px;
    height: 632px;
    background-image: url("/img/page/Nasza\ misja\ \(1\).png");
  }
  .w-h-about-container-one {
    width: 1440px;
    padding: 80px 0px;
  }

  .w-h-about-text-one {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding: 108px 0 40px;
    margin-left: 748px;
  }
  .w-h-about-list-one {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-left: 748px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .w-h-about-list-one-item {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.w-h-about-container-two {
  width: 375px;
  height: 985px;
  padding: 538px 20px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/page/Co\ nas\ prowadzi.png");
}

.w-h-about-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 38px 0 24px;
}
.w-h-about-text-twos {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.w-h-about-text-twoa {
  font-family: La Belle Aurore;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: right;
  padding-top: 40px;
}
@media screen and (min-width: 1207px) {
  .w-h-about-container-two {
    width: 1440px;
    height: 989px;
    padding: 80px 769px 0 88px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/page/Co\ nas\ prowadzi\ \(1\).png");
  }

  .w-h-about-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 39px 0 48px;
  }
  .w-h-about-text-twos {
    font-family: Inter;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
  }
  .w-h-about-text-twoa {
    font-family: La Belle Aurore;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: right;

    padding-top: 60px;
  }
}

.w-h-how {
  margin: auto;
  width: 375px;
  height: 1560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
}
.w-h-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 20px;
}
.w-h-how-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  padding: 40px 20px 32px;
}
.w-h-how-text-bold-q {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.w-h-how-list {
  padding: 40px 0 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.w-h-how-item {
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.w-h-how-img {
  width: 15px;
  height: 15px;
}
.w-h-how-text span {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .w-h-how {
    margin: auto;
    width: 1440px;
    height: 864px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/11.png");
  }
  .w-h-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 88px;
  }
  .w-h-how-div {
    width: 604px;
    margin-left: auto;
  }
  .w-h-how-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding: 60px 0px 32px;
  }
  .w-h-how-text-bold-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }
  .w-h-how-list {
    padding: 40px 0 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .w-h-how-item {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .w-h-how-text span {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.w-h-characters {
  margin: auto;
  width: 375px;
  height: 1551px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
}
.w-h-characters-container {
  padding: 64px 20px;
  margin: auto;
  width: 375px;
}

.w-h-characters-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.w-h-characters-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 40px 0;
}
.w-h-characters-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.w-h-characters-item {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
}
.w-h-characters-item-text {
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding-bottom: 16px;
}
@media screen and (min-width: 1207px) {
  .w-h-characters {
    margin: auto;
    width: 1440px;
    height: 891px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/22.png");
  }
  .w-h-characters-container {
    padding: 80px 659px 0 88px;
    margin: auto;
    width: 1440px;
  }

  .w-h-characters-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .w-h-characters-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    width: 624px;
    padding: 28px 0 40px;
  }
  .w-h-characters-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .w-h-characters-item {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: bottom;
    display: flex;
    align-items: start;

    justify-content: space-between;
  }
  .w-h-characters-item-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;

    padding-bottom: 0px;
  }
  .w-h-characters-item-textq {
    width: 255px;
  }
}

.w-h-reviews-container {
  margin: auto;
  padding: 80px 0px;
  width: 375px;
}
.w-h-reviews-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 35px;
}
.w-h-reviews-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-h-reviews-i {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.w-h-reviews-list {
  padding: 60px 0 52px;
}

.w-h-reviews-item {
  width: 335px;
  height: 501px;
  margin: 0 12px;
}
.w-h-reviews-img {
  width: 335px;
  height: 501px;
  border-radius: 10px;

  object-fit: cover;
  object-position: center;
}
.w-h-reviews-item-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0 31px 44px;
  margin-top: -136px;
}
.w-h-reviews-item-two-q {
  color: rgba(0, 0, 0, 1);
}
.w-h-reviews-text {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-bottom: 16px;
}
.w-h-why-div-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-top: 40px;
}
@media screen and (min-width: 1207px) {
  .w-h-reviews-container {
    margin: auto;
    padding: 80px 88px;
    width: 1440px;
  }
  .w-h-reviews-div {
    display: flex;
    flex-direction: row;

    gap: 128px;
    padding: 0 0px;
  }
  .w-h-reviews-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: left;
    width: 512px;
  }
  .w-h-reviews-i {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    width: 624px;
  }
  .w-h-reviews-list {
    padding: 60px 0 52px;
  }

  .w-h-reviews-item {
    width: 400px;
    height: 501px;
    border-radius: 10px;

    margin: 0 16px;
  }
  .w-h-reviews-img {
    width: 400px;
    height: 501px;
    border-radius: 10px;

    object-fit: cover;
    object-position: center;
  }
  .w-h-reviews-item-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0 31px 44px;
    margin-top: -136px;
  }
  .w-h-reviews-item-two-q {
    color: rgba(0, 0, 0, 1);
  }
  .w-h-reviews-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-bottom: 16px;
  }
  .w-h-why-div-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    padding-top: 11px;
  }
}

.w-h-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.w-h-faq-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-h-faq-question {
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 20px;
}
@media screen and (min-width: 1207px) {
  .w-h-faq-container {
    padding: 80px 120px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
  }
  .w-h-faq-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .w-h-faq-question {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 44px;
  }
}

.w-h-features {
  margin: auto;
  width: 375px;
  height: 870px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Kontakt.png");
}

.w-h-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px;
}

.w-h-features-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.w-h-features-input {
  border: 1px solid rgba(230, 232, 236, 1);
  border-radius: 10px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-width: 1px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(155, 164, 177, 1);
}
.w-h-features-textarea {
  height: 120px;
}
.w-h-features-button {
  font-family: Inter;
  font-weight: 900;
  font-size: 16px;
  border: 2px solid rgba(62, 186, 122, 1);
  background: rgba(0, 0, 0, 1);
  width: 335;
  border-radius: 30px;
  padding-top: 14px;
  padding-right: 33px;
  padding-bottom: 14px;
  padding-left: 33px;
  color: rgba(255, 255, 255, 1);
  border-width: 2px;
  margin-top: 26px;
}

@media screen and (min-width: 1207px) {
  .w-h-features {
    margin: auto;
    width: 1440px;
    height: 779px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Kontakt\ \(1\).png");
  }

  .w-h-features-container {
    width: 1440px;
    margin: auto;
    padding: 183px 764px 0 88px;
  }

  .w-h-features-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 60px;
  }
  .w-h-features-input {
    border: 1px solid rgba(230, 232, 236, 1);
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-width: 1px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(155, 164, 177, 1);
  }
  .w-h-features-textarea {
    height: 120px;
  }
  .w-h-features-button {
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
  }
}
.w-h-container-one {
  background: rgba(255, 255, 255, 1);
  color: rgba(18, 18, 18, 1);
}
.w-h-container {
  padding: 100px 20px 40px;
  width: 375px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
  background: rgba(255, 255, 255, 1);
  margin: auto;
}

.w-h-container h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.w-h-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}

.w-h-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}
.w-h-container ul {
  margin-top: 10px;
}

.w-h-container ul li {
  margin-bottom: 10px;
}
.w-h-container p {
  margin-top: 10px;
}
.w-h-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-h-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1207px) {
  .w-h-container {
    padding: 131px 68px 40px;
    width: 1440px;
    margin: auto;
    background: rgba(255, 255, 255, 1);
  }
}

.w-h-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(43, 43, 43, 1);
}
.w-h-footer-container-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.w-h-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.w-h-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.w-h-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
.w-h-footer-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1207px) {
  .w-h-footer-container {
    width: 1440px;
    padding: 40px 48px;
    flex-direction: row;
    gap: 280px;
    background: rgba(43, 43, 43, 1);
  }
  .w-h-footer-container-two {
    display: flex;
    flex-direction: row-reverse;
    gap: 280px;
  }
  .w-h-footer-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .w-h-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .w-h-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .w-h-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
}

.w-h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.16);

  z-index: 1000;
  display: none;
}

.w-h-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: rgba(49, 49, 49, 1);
}

.w-h-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.w-h-cookie-button {
  background: rgba(255, 255, 255, 1);
  border: 3px solid rgba(62, 186, 122, 1);
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-width: 3px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(16, 24, 47, 1);
}

#accept-cookies {
  background: rgba(62, 186, 122, 1);
  color: rgba(255, 255, 255, 1);
}

.w-h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1207px) {
  .w-h-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .w-h-cookie-popup-text-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 661px;
    width: 648px;
  }

  .w-h-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
  }

  .w-h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1000px;
    padding: 16px 40px;
    display: none;
  }
}
